<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>465852427155-7g3l84a2eu4c6top43hc6aim2hefd91o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465852427155-7g3l84a2eu4c6top43hc6aim2hefd91o</string>
	<key>API_KEY</key>
	<string>AIzaSyBd957U4oYOMgyW1g8dW6LvXS4Uz5cLi6g</string>
	<key>GCM_SENDER_ID</key>
	<string>465852427155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Aman-Social</string>
	<key>PROJECT_ID</key>
	<string>aman-social</string>
	<key>STORAGE_BUCKET</key>
	<string>aman-social.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:465852427155:ios:338de9bbb4869aa3</string>
	<key>DATABASE_URL</key>
	<string>https://aman-social.firebaseio.com</string>
</dict>
</plist>